.giggle {
    animation-name: giggle;
    animation-duration: $transition-time-primary;
    animation-iteration-count: 5;
}

@keyframes giggle {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 5px;
    }
}
