.calculator {
    &__display {
        color: $color-secondary;
        &__operation,
        &__result {
            box-sizing: border-box;
            text-align: right;
            padding: 0.75rem;
        }

        &__operation {
            padding-top: 1.5rem;
        }
    }
}
