body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.calculator {
    &__display {
        &__operation {
            line-height: 1.5rem;
            font-size: 1.5rem;
        }

        &__result {
            line-height: 3rem;
            font-size: 3rem;
        }
    }
}
