.calculator {
    width: 100vw;

    display: flex;
    flex-direction: column;

    outline-color: orange;

    &__button {
        width: 25vw;
        //height: 25%;
    }

    &__result {
        width: 100vw;
        height: 20vh;

        outline-color: yellow;

        &__operation {
            height: 40%;
        }
    }

    &__top-buttons {
        width: 100vw;
        height: 100vh * 0.2;

        display: flex;
        //flex-direction: row;

        outline-color: black;
    }

    &__bottom-buttons {
        display: flex;
        flex-direction: row;

        &__operators {
            width: 100vw * 0.25;
            height: 100vh * 0.6;

            display: flex;
            flex-direction: column;

            button {
                height: 25%;
            }
        }

        &__main {
            width: 100vw * 0.75;
            height: 100vh * 0.6;

            flex-direction: column wrap;

            flex-wrap: wrap;

            outline-color: pink;

            .calculator__button {
                //height: 25%;
            }
        }

        &__operators,
        &__main {
            display: flex;
        }
    }
}
