.calculator {
    overflow: hidden; // prevent scrolling bars on mobile when giggle.

    &__container {
        position: relative; // for animation when error.

        width: 100vw;
        height: 100vh;

        @include media-screen-large {
            @include media-screen-large {
                border: 1px solid $color-secondary;
            }

            width: 680px;
            height: 90vh;
            max-height: 1000px;
            margin: auto;
            margin-top: 5vh;
        }
    }

    display: flex;
    flex-direction: column;

    &__button {
        height: 20%;

        &--half {
            height: 10%;
        }
    }
    &__display {
        width: 100%;
        height: 20%;

        // @include media-screen-large {
        //     outline: 1px solid $color-secondary;
        // }

        &__operation {
            height: 40%;
        }

        &__result {
            height: 60%;
        }
    }

    &__keyboard {
        width: 100%;
        height: 80%;

        display: flex;
        &__left-buttons {
            width: 75%;
            height: 100%;

            button {
                width: 33.333333%;
            }
        }

        &__right-buttons {
            width: 25%;
            height: 100%;

            button {
                width: 100%;
            }
        }
    }
}
